@import '_variables.scss';

.main__page{
    padding: 140px 90px 50px 150px;
    background-color: $grey;
    width: 100%;
}

.section{
    background-color: $white;
    border-radius: 20px;
    padding: 0px 40px 30px 40px;
    margin-bottom: 20px;

    &__title{
        font-size: 24px;
        line-height: 76px;
        color: $dark_grey;
        font-weight: bold;
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 35px;
    }

    &__item{
        display: flex;
        margin-bottom: 20px;

        .select-wrapper{
            position: relative;
        }

        .select-wrapper::before{
            position: absolute;
            top: 30%;
            right: 15px;
            
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            pointer-events: none;
  
            border-top: 1px solid $blue;
            border-left: 1px solid $blue;
        }

        .select-wrapper::before{
            transform: rotate(225deg);
        }

        .label{
            background-color: $white;
            position: absolute;
            top: -12px;
            left: 10px;
            padding: 0 5px;
            font-size: 12px;
            line-height: 18px;
            color: $dark_grey;
            font-weight: 400;
        }

        .label-icon{
            color: $blue;
            width: 15px;
            height: 15px;
        }

        .form{
            width: 100%;
        }

        .form-select{
            appearance: none;
            border: 1px solid #bdcdd6;
            width: 100%;
            padding: 10px 23px 10px 13px;
            border-radius: 7px;
            font-size: 16px;
            line-height: 18px;
            color: $dark_grey;
            font-weight: 700;
            cursor: pointer;
        }

        .select-price{
            font-size: 16px;
            line-height: 24px;
            color: $dark_grey;
            font-weight: 700;
            margin-top: 5px;
        }
    }

    .item-first{
        grid-column: 1/3;
    }

    &__item-icon{
        color: $blue;
        width: 55px;
        height: 50px;
        margin-right: 20px;
        margin-top: -5px;
    }

    &__add-disk{
        color: $blue;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 30px;
    }


    &__description{
        font-size: 14px;
        line-height: 18px;
        color: #3e515b;
        font-weight: 400;
    }

    .description_1{
        margin-bottom: 15px;
    }


    &__price{
        font-size: 24px;
        line-height: 24px;
        color: #22232b;
        font-weight: 700;
    }

    &__price-currency{
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: end;
        column-gap: 5px;
        
    }

    &__button-price{
        display: flex;
        column-gap: 30px;
        align-items: center;

        .button__add-order{
            width: 332px;
            height: 40px;
            border-radius: 10px;
            background-color: $blue;
            border: none;

            font-size: 14px;
            line-height: 18px;
            color: $white;
            font-weight: 700;
            text-align: center;
        }

        .description_last{
            width: 420px;
        }
    }
}

.button__add-server{
    width: 332px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid $blue;

    font-size: 14px;
    line-height: 18px;
    color: $dark_grey;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .section{
        &__list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 35px;
        }
    
        .item-first{
            grid-column: 1/3;
        }
    }
}

@media (max-width: 1200px){
    .section{
        &__button-price{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;
        }
    }
}

@media (max-width: 1000px){
    .section{
        &__item{
            .form-select{
                font-size: 13px;
            }
        }
        &__item-icon{
            width: 45px;
            height: 40px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 870px){
    .section{
        &__button-price{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}



@media (max-width: 750px){
    .main__page{
        padding: 100px 40px 30px 100px;
        width: 100%;
    }
    .section{
        padding: 0px 30px 30px 30px;
        &__list{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 35px;
        }
    
        .item-first{
            grid-column: 1/1;
        }

        &__button-price{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 15px;
        }
    }
}

@media (max-width: 580px){

    .button__add-server{
        width: 250px;
    }

    .section{
        &__title{
            font-size: 22px;
            line-height: 66px;
            color: $dark_grey;
            font-weight: bold;
        }

        &__button-price{
            .button__add-order{
                width: 250px;
            }
        
            .description_last{
                width: 300px;
            }
        }
    }
}


